.list { }
.list-bar { display: flex; align-items: center; background: #ddd;}
.list-bar > * { padding: 0.5em 1em; }
.list-name {}
.list-children {}

body.drag-in-progress { user-select: none; cursor: grabbing !important; }

.list {}
.list.dragging { outline: 1px solid blue; pointer-events: none; }
.list.dragover { outline: 1px solid green; }
.list.release { transition: transform 0.3s; }


.list.Root.dragover { margin: 0.25em 0; }

.list > .list-bar { background: white; display: flex; }
.list > .list-bar > * { padding: 0.5em 1em; }
.list > .list-bar > .name { cursor: grab; flex-grow: 1; }
body.dragging .list > .list-bar > .name { cursor: grabbing; }
/*body.dragging .list.dragging > .list-bar > .name { cursor: grab; } the idea here was to 
indicate "release" if you return to the origin, but the problem is it prevents the hand from grabbing initially... */
.list > .list-bar > .add, .list > .list-bar > .delete { cursor: pointer; }
.list > .list-children { padding: 1em 2em; background: #eee; display: flex; flex-direction: column; background: rgba(0,0,0,0.1); }
.list > .list-children:empty { display: none; }

.list > .list-bar.dragover, .list > .list-children.dragover  { outline: 1px solid red; }
.drag-cursor { margin: 0; outline: 3px solid lightblue; }
/* .drag-cursor.grow { margin: 0.5em 0; transition: margin 0.3s; } */


.pointer-debug { display: flex; }