* { box-sizing: border-box; }
:first-child { margin-top: 0; }
:last-child { margin-bottom: 0; }

html { height: 100%; }
body { min-height: 100%; margin: 0; padding: 0; }


p { line-height: 2; margin: 2em 0; }

h1 { font-size: 3em; margin: 0.6em 0; font-weight: 900; line-height: 1.4;}
h2, h3 { line-height: 1.4em; margin: 1em 0; }

pre, code, textarea { font-family: Consolas, 'Courier New', Monaco, monospace; }

.flex { display: flex; }
.flex.wrap { flex-wrap: wrap; }
.flex-1 { flex: 1; }
.flex-v { flex-direction: column; }
.flex-h-center { justify-content: center; }
.flex-v-center { align-items: center; }
.gap { gap: 1em; }

.layout { display: flex; flex-wrap: wrap; }
.layout > * { flex: 1 1 300px; }

.mb-1 { margin-bottom: 1em; }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons { font-size: 1.5em;}

.pad { padding: 1em; }

.squeeze, .root.page { max-width: 60em; }

.center.squeeze, .root.page { margin-left: auto; margin-right: auto; }

.bg-light, .root.page, .root.light { background: #eee; }


.root.pad, .root.page { padding: 4% 3%; transition: padding 0.3s; }

@media (min-width: 900px){
	.root.pad, .root.page { padding: 3em 4em; }
}